/* 기본 스타일 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Roboto', 'Noto Sans KR', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
  }
  
  body {
    background-color: #f7f7f7;
    color: #333;
    padding-top: 3.5rem;
  }
  header{
      border-bottom: 1px solid #e0e0e0;
      background-color: #fff;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        align-items: center;
        padding: 15px 20px;
        width : 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .logo {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .nav-menu {
        list-style: none;
        display: flex;
    }

    .nav-menu li {
        margin-left: 20px;
    }

    .nav-menu a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
        transition: color 0.3s;
    }

    .nav-menu a:hover {
        color: #ff5252;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
    }

    .nav-links li {
        margin-left: 15px;
      }
      
      .nav-links a {
        text-decoration: none;
        color: #333;
        font-size: 1rem;
      }
    
    main{
        background-color: #fff;
    }

    
  
  .footer {
    text-align: center;
    padding: 15px 0;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    /* margin-top: 50px;*/
  }
  